@model TaskManager.WebUI.Models.TasksIndexModel
@using TaskManager.WebUI.Models

@{
    ViewBag.Title = string.Format("Index {0} tasks", Model.IndexMode.ToString());
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @if (Model == null || Model.GroupsByDate.Count() == 0)
        {
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="task-list-heading text-center">
                        No @(Model.IndexMode == TasksIndexMode.All ? "" : Model.IndexMode.ToString()) tasks
                    </h2>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="task-list-heading text-center">@Model.IndexMode.ToString() tasks</h2>
                </div>
                <div class="panel-body">
                    @foreach (var taskGroup in Model.GroupsByDate)
	                {
	                	 @Html.Partial("_ToDoTaskGroupPartial", taskGroup)
	                }
                </div>
            </div>
        }
    </div>
</div>
