@model TaskManager.WebUI.Models.DaySummaryItemModel


<div class="panel panel-default @Model.StyleClass">
    <div class="panel-body">
        <div class="row">
            <p class="col-sm-10 day-summary-item">@Model.Caption:</p>
            <p class="col-sm-2 day-summary-item">@Model.Quantity</p>
        </div>
    </div>
</div>