@model TaskManager.WebUI.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@Html.ValidationSummary(true)

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel">
            <div class="panel-heading">
                <h2>Register</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="panel-group">
                        @Html.EditorForModel()
                    </div>
                    <div class="panel-group">
                        <button class="btn btn-success" type="submit">Register</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>